.App {
  text-align: center;
  
}

ul {
  list-style-type: none;
}

.small-container {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  padding: 2%;
}

.deleteHeader {
  background-color: #0D6EFD;
}

#deleteIcon {
  border-radius: 50%;
  max-width: 30px;
  min-width: 10px;
}